
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.banner-text{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)),url(sidebyside.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner-text-services{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)),url(jetski.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner-text-services h2{
  text-align: left;
  color: #ffffff;
  font-size: 25px;
  margin-top: -4%;
  float: center;
  margin-left: 5%;
}
.banner-text-services ul{
  height: 5px;
  float: right;
  margin-top: 0%;
}
.banner-text-destinations{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)),url(atv.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner-text-destinations h2{
  text-align: left;
  color: #ffffff;
  font-size: 25px;
  margin-top: -4%;
  float: center;
  margin-left: 5%;
}
.banner-text-destinations ul{
  height: 5px;
  float: right;
  margin-top: 0%;
}
.banner-text-pricing{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)),url(snow.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner-text-pricing h2{
  text-align: left;
  color: #ffffff;
  font-size: 25px;
  margin-top: -4%;
  float: center;
  margin-left: 5%;
}
.banner-text-pricing ul{
  height: 5px;
  float: right;
  margin-top: 0%;
}
.banner-text-contact{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.30),rgba(0,0,0,0.30)),url(mx.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner-text-contact h2{
  text-align: left;
  color: #ffffff;
  font-size: 25px;
  margin-top: -4%;
  float: center;
  margin-left: 5%;
}
.banner-text-contact ul{
  height: 5px;
  float: right;
  margin-top: 0%;
}
.banner-text h2{
  text-align: left;
  color: #ffffff;
  font-size: 25px;
  margin-top: -4%;
  float: center;
  margin-left: 5%;
}
.banner-text ul{
  height: 5px;
  float: right;
  margin-top: 0%;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(31, 30, 30, 0.24);
  width: 100%;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 30px;
  position: relative;
  font-size: 21px;
}
.navbar ul li::after{
  content: '';
  height: 3px;
  width: 0;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.logo{
  width: 300px;
}
.animation{
  padding: 100px;
  margin: 100px;
  width: 100%;
  height: 100vh;
}
.box-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#videoBG{
  position: fixed;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #videoBG {
    display: none;
  }
  body{
    background: url('poster.jpg');
    background-size: auto;
  }
}
#hero{
  position: absolute;
  left: 5%;
  top: 70%;
}
#hero h1{
font-family: sans-serif;
color: #fff;
font-size: 50px;
}
#hero a{
  font-family: sans-serif;
  color: #FF6700;
  font-size: 50px;
  text-decoration: none;
  border-style: outset;
  border-width: 10px;
}
.hero a::after{
  content: '';
  height: 8px;
  width: 0;
  background: #FF6700;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.8s;
}
.hero a:hover::after{
  width: 100%;
}
.background{
  width: 100%;
  height: 100vh;
  bottom: -40vh;
  background-image: linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)),url(sidebyside1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.per p{
  position: absolute;
  left: 71.5%;
  top: 169.5%;
  text-transform: uppercase;
  color: #fff;
  font-size: 45px;
  font-style: italic;
}
.per p1{
  position: absolute;
  left: 74%;
  top: 175%;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
}
.per p2{
  position: absolute;
  left: 77.7%;
  top: 180%;
  text-transform: uppercase;
  color: #fff;
  font-size: 35px;
}
.per1 h3{
  position:  absolute;
  left: 3%;
  top: 105%;
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  font-style: italic;
}
.per1 h4{
  position:  absolute;
  left: 3%;
  top: 110%;
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  font-style: italic;
}
.per1 h5{
  position:  absolute;
  left: 3%;
  top: 115%;
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  font-style: italic;
}
.per1 h6{
  position:  absolute;
  left: 3%;
  top: 120%;
  text-transform: uppercase;
  color: #fff;
  font-size: 40px;
  font-style: italic;
}
